<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/#/">What's Happening?</a>
</nav>

<div id="userNew">
<h2>Login</h2>

<strong><%= flash[:error] %></strong>

<%= form_tag login_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Login" %>
<% end %>
</div>
